.notification-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px;
    z-index: 2;
}

.notification {
    width: 250px;
    color: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    opacity: 0.9;
}

.notification .notification_body {
    margin-left: 25px;
}

.notification_body .notification_body-label {
    font-weight: bold;
}

.notification_body .notification_body-text {
    letter-spacing: 1px;
}

.success {
    background-color: #6bab69;
}

.error {
    background-color: #c3534e;
}
